<div class="site-footer" style="text-align:center;">
  <p>Gardez le contact : <a href="mailto:coworking.grandlyon@gmail.com">écrivez-nous</a> ou <a href="https://www.linkedin.com/company/coworking-grand-lyon/">suivez-nous sur LinkedIn</a> !</p>
  <p style="font-size:10px">Ce réseau a été créé avec le soutien de la Métropole de Lyon<br />
  <a href="https://www.grandlyon.com/"><img src="/images/logo-grand-lyon-la-metropole.svg" alt="Métropole de Lyon" width="170px"></a></p>
  <p style="font-size:10px">Les logos et les images présentes sur ce site appartiennent à leurs espaces respectifs et sont utilisés ici avec leur accord.</p>
</div>
